body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    min-width: 300px;
}

.section-title {
    font-weight: lighter;
}

#main-doc {
    /*background-color: bisque;*/
    position: absolute;
    margin: 0 50px 0 300px;
    padding: 20px;
    min-width: 500px;
}

#navbar {
    position: fixed;
    width: 260px;
    padding: 0 0px;
    border-right: solid;
    height: 100%;
    
}

#navbar h1 {
    text-align: center;
}

.navbarlist {
    list-style: none;
    padding-left: 0px;
    
}

.navbaritem{
    border-top: solid;
}

p {
    font-size: medium;
    margin: 20px 25px;
    line-height: 1.5;
    color: #424242;
}

.navbaritemtext {
    font-size: large;
}

.articlelistitem {
    margin: 0 0 0 50px;
    color: #424242;
}

code {
    background-color: #f1f1f1;
    padding: 10px;
    display: block;
    border-radius: 5px;
}