body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
}

.section-title {
    font-weight: lighter;
}

#main-doc {
    background-color: bisque;
    position: absolute;
    height: 100%;
    margin: 0 50px 0 300px;
    min-width: 1100px;
    top: 20px;
}

#nav-bar {
    background-color: azure;
    position: fixed;
    width: 260px;
    padding: 0 0px;
    border-right: solid;
    height: 100%;
    
}

#nav-bar h1 {
    text-align: center;
}

#nav-bar ul {
    list-style: none;
    padding-left: 0px;
    
}

li {
    border-top: solid;
}

p {
    font-size: large;
    margin: 20px 25px;
}